.index_mu_linehigh {
	background-color: rgb(47, 54, 54);
}

.load {
	display: flex;
	align-items: flex-end
}

.load i {
	margin-left: 0.2rem;
	background:  #808080;
	width: 0.2rem;
	transform-origin: 100% 100%;
}

@-moz-keyframes loading {
	0% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0.5);
	}
	100% {
		transform: scaleY(1);
	}
}
@-webkit-keyframes loading{
	0% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0.5);
	}
	100% {
		transform: scaleY(1);
	}
}
@-ms-keyframes loading{
	0% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0.5);
	}
	100% {
		transform: scaleY(1);
	}
}
.load i:nth-child(1) {
	height: 1.6rem;
	-moz-animation: loading 1s ease-in 0.1s infinite;
	-webkit-animation: loading 1s ease-in 0.1s infinite;
	-ms-animation: loading 1s ease-in 0.1s infinite;
}

.load i:nth-child(2) {
	height: 1.2rem;
	-moz-animation: loading 1s ease-in 0.2s infinite;
	-webkit-animation:;
	-ms-animation:;
}

.load i:nth-child(3) {
	height: 1.8rem;
	-moz-animation: loading 1s ease-in 0.3s infinite;
	-webkit-animation:loading 1s ease-in 0.3s infinite;
	-ms-animation:loading 1s ease-in 0.3s infinite;
}

.load i:nth-child(4) {
	height: 1.2rem;
	-moz-animation: loading 1s ease-in 0.4s infinite;
	-webkit-animation:loading 1s ease-in 0.4s infinite;
	-ms-animation:loading 1s ease-in 0.4s infinite;
}